<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>SvlAutentificacion</servlet-name>
        <servlet-class>Controlador.SvlAutentificacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cgh</servlet-name>
        <servlet-class>Controlador.cgh</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvlCliente</servlet-name>
        <servlet-class>Controlador.SvlCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvlEmpleado</servlet-name>
        <servlet-class>Controlador.SvlEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvlInsumos</servlet-name>
        <servlet-class>Controlador.SvlInsumos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>nb</servlet-name>
        <servlet-class>Controlador.nb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvlPedido</servlet-name>
        <servlet-class>Controlador.SvlPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvlOrden</servlet-name>
        <servlet-class>Controlador.SvlOrden</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SvlAutentificacion</servlet-name>
        <url-pattern>/SvlAutentificacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvlCliente</servlet-name>
        <url-pattern>/SvlCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvlEmpleado</servlet-name>
        <url-pattern>/SvlEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvlInsumos</servlet-name>
        <url-pattern>/SvlInsumos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>nb</servlet-name>
        <url-pattern>/nb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvlPedido</servlet-name>
        <url-pattern>/SvlPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvlOrden</servlet-name>
        <url-pattern>/SvlOrden</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.jsp</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>private</web-resource-name>
            <url-pattern>/faces/private/*</url-pattern>
            <url-pattern>/private/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint/>
    </security-constraint>
</web-app>
